<p id="notice"><%= notice %></p>

<p>
  <strong><%= @student.name %></strong>
  様
</p>
</br>
<p>
  <strong>メールアドレス：<strong>
  <%= @student.mail %>
  <strong> 宛にメールを送信しました。ご確認ください<strong>
</p>

<%= link_to 'Index', edit_student_path(@student) %> |
